h1{
 text-align:center;
 color:blue;
}

body{
 background-color:#F2FF7A;
}
button{
 border-radius:5px;
 background-color:blue;
 color:white;
 padding:10px;
 display:block;
 margin-top:30px;
}

.container{
 width:960px;
 margin:0 auto;
}

.row{
 line-height:50px;
 color:green;
 font-size:1.2em;
}

form{
 border:1px solid black;
 padding:40px;
}